add_newline = false

[character]
style_success = "fg:cyan"
style_failure = "fg:cyan"
{% if ansible_distribution == "Archlinux" %}
symbol = "λ"
{% endif %}
{% if ansible_distribution == "Fedora" %}
symbol = "ϝ"
{% endif %}

[directory]
style = "fg:purple"
truncation_length = 6

[cmd_duration]
disabled = true

[jobs]
disabled = true